<ion-content>
 
  <ion-grid>

    <ion-row>
      <img src="../../assets/mail_send.png" alt="">
    </ion-row>
    <ion-row class="content">
      <h2 class="text_padding">Vérifiez votre email</h2>
      <p class="text_padding body">
        Veuillez vérifier votre adresse e-mail en cliquant sur le lien :).
      </p>
      <ion-button type="submit" (click)="authService.SendVerificationMail()" expand="block" >
      Renvoyer la vérification
      </ion-button>


      <p class="footer" [routerLink]="['']" (click)="callAll()">
       Vous avez déjà un compte ?
      </p>
    </ion-row>
  </ion-grid>
</ion-content>