<ion-content>
  <ion-row class="back" (click)="backToLogin()">
    <ion-col>
      <ion-icon name="close"></ion-icon>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col>
      <h1>Inscription</h1>
    </ion-col>
  </ion-row>
  <form>    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
  

    <ion-row class="register">
      <ion-col> 
      <ion-button type="submit" (click)="signUp(email, password)" expand="block" shape="round">Créer mon compte</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>