<ion-content>
  <ion-grid> 
    <ion-row >
      <ion-col size="6"  *ngFor="let alert of alertType">
        <ion-card (click)="sendNotificationToUsers($event)">
          <ion-card-header>
            <ion-card-title>{{alert.alertLogo}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
        {{alert.alertName}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  
  </ion-grid>
</ion-content>
