<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Mon compte
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <br>
  <ion-card>
    <ion-row>
      <ion-col size="12">   
        <img class="profile-photo" [src]="this.user.photoURL">
      
      </ion-col>
   
      <ion-col size="12">   
        <label for="change_picture">Modifier la photo de profil</label>
        <input type='file' (click)="upload($event)" id="change_picture">
      
      </ion-col>
     
    </ion-row>
    <ion-card-header>
      <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col size="12">   
     
      <ion-button color="danger">Inviter vos amis !</ion-button>
    </ion-col>
 
 
  </ion-row>


</ion-content>
