.profile-photo {
    border-radius: 50% !important;
    overflow: hidden;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.20);
    max-width: 128px;
    max-height: 128px;
    }
.title{
    justify-content: flex-start;
}

ion-col{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

ion-card-header{
    text-align: center;
}

ion-card{

box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.20);
}

label {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
 }
 
 #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

 #change_picture{
     opacity: 0;
     width: 0;
     height: 0;
 }
