

<ion-content>
  <form>    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
<br><br>
    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="logIn(email, password)" expand="block" shape="round">Se connecter</ion-button>
      </ion-col>

    </ion-row>
    <ion-row class="forgot_pwd">
      
      <p (click)="openForgotPwdPage()">Mot de passe oublié ?</p>
     

    </ion-row>
    
<p class="line"></p>

    <ion-row>
      <ion-col> 
        <ion-button 
         type="submit" 
         color="danger"
         fill="outline"
         (click)="authService.GoogleAuth()" 
         expand="block"
         shape="round">
         <ion-icon name="logo-google"></ion-icon>  Continuer avec Google
        </ion-button>
      </ion-col>
    </ion-row>

    <p [routerLink]="['/registration']" class="account-missed" >Vous n'avez pas de compte ?</p>
  </form>
</ion-content>