img{
    display: flex;
    align-self: center;
    max-width: 65%;
}

form{
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%
}

.line{
    border-bottom: 1px solid black;
}

.account-missed{
    text-align: center;
}

.forgot_pwd{
    display: flex;
    justify-content: flex-end;
}