<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Map </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row id="map_wrapper">
    <div #map id="map" style="max-height: 100%; max-width: 100%"></div>
    <ion-icon name="man-outline" (click)="presentModal()"></ion-icon>
  </ion-row>
</ion-content>
