#map {
  width: 500px;
  height: calc(100vh - 4em - 49px);
}

#map_wrapper {
  position: relative;
}
ion-icon {
  position: absolute;
  height: 36px;
  width: 40px;
  z-index: 10;
  top: 91%;
  left: 39%;
}


