<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item  (click)="this.authService.SignOut()" routerDirection="forward">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
               Se déconnecter
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
<ion-router-outlet id="content1"></ion-router-outlet>
  <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-app>
