<ion-content>
  <ion-row class="back" (click)="backToLogin()">
    <ion-col>
      <ion-icon name="close"></ion-icon>
    </ion-col>
  </ion-row>
<ion-row>
  <ion-col>
    <p style="font-weight: bold;">Réinitialisation du mot de passe</p>
    <p class="subtitle">Entrez votre adresse email ci-dessous pour réinitialiser votre mot de passe</p>
    <form>    
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" #email required></ion-input>
      </ion-item> 
      <br><br>
      <ion-button type="submit" (click)="this.authService.PasswordRecover(email.value)" expand="block" shape="round" fill="outline">Confirmer</ion-button>
      </form>
  </ion-col>
</ion-row>
</ion-content>
