/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// :root {
//     /* Set the background of the entire app */
//     --ion-background-color: #737373;
// }

* {
  font-family: "Montserrat";
}

.css_forgot_pwd {
  background: rgba(0, 0, 0, 0.5) !important;
  padding: 50% 10% !important;
}

.back {
  padding-top: 3%;
  padding-left: 3%;
}

.modal-alert {
   background: transparent !important;
  padding: 35% 10% !important;
}

// app-modal-alert{
//     padding-top: 15%;
// }
